{%extends 'layout/dashboard.html'%}

{%load static%}

{%block body%}



<div class="container-fluid flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <div class="layout-demo-wrapper">

{% if not allowance %}
    <div class="row">

      <div class="col-lg-12">

        <div class="alert alert-warning">
          <h6 class="alert-heading fw-blod mb-1">Upgrade Account</h6>
          <p class="mb-0">your limit is miximized out you word limit of the month, please upgrade your account, <a href="{% url 'billing'%}">here</a></p>
        </div>
      </div>
    </div>
{% endif %}









    <div class="row">
      <div class="col-lg-8">
        <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Congratulations {{user.first_name}} 🎉</h5>
              <p class="mb-4">
                You have written <span class="fw-bold">{{numBlogs}}</span> Blogs. Your word count for the
                month is {{monthCount}} words. Your count will reset on {{countReset}}
              </p>

              <a href="{% url 'generate-blog-topic'%}" class="btn btn-sm btn-outline-primary">New Blog</a>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img src="{% static 'main/img/illustrations/man-with-laptop-light.png'%}" height="140" alt="Writo AI" />
            </div>
          </div>
        </div>
      </div>

      {% if completeBlogs|length > 0%}
      <div class="card mt-3">
        <h5 class="card-header">Completed Blogs</h5>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Blog title</th>
                <th>Audience</th>
                <th>Keywords</th>
                <th>wordcount</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for blog in completeBlogs%}
              <tr>
                <td>
                  <h5>{{blog.blogIdea}}</h5>
                  {{blog.title}}
                </td>
                <td>{{blog.audience}}</td>
                <td>{{blog.keywords}}</td>
                <td>{{blog.wordCount}}</td>
                <td><a href="{% url 'view-generated-blog' blog.slug%}"><button class="btn btn-outline-primary">VIEW</button></a></td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
      {% endif%}


</div>


  <div class="col-lg-4">
    {% if emptyBlogs|length > 0%}
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Saved Blogs</h5>
        </div>
        
      <div class="card-body">
        <ul class="p-0 m-0">
          {% for blog in emptyBlogs%}
          <li class="d-flex mb-4 pb-1">
            <!-- <div class="avatar flex-shrink-0 me-3">
                    <img src="{% static 'main/img/icons/unicons/paypal.png'%}" alt="User" class="rounded" />
                  </div> -->
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <small class="text-muted d-block mb-1">{{blog.blogIdea}}</small>
                <h6 class="mb-0"><a href="{% url 'generate-blog-from-topic' blog.uniqueId%}">{{blog.title}}</a></h6>
              </div>
              <div class="user-progress d-flex align-items-center gap-1">
                <a href="{% url 'delete-blog-topic' blog.uniqueId %}" class="text-justify"><button
                    class="btn btn-danger btn-sm">Delete</button></a>
              </div>
            </div>
          </li>
          {% endfor%}
        </ul>
      </div>
    </div>

    {%endif%}

  </div>

</div>
</div>



</div>



{%endblock%}